<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Input Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>Model Input Form</h1>
            <p>Please input the parameters of your box</p>
            <form id="basicForm">
                <div class="input-group">
                    <label for="x">X:</label>
                    <input type="number" id="x" name="x" required>
                </div>
                <div class="input-group">
                    <label for="y">Y:</label>
                    <input type="number" id="y" name="y" required>
                </div>
                <div class="input-group">
                    <label for="z">Z:</label>
                    <input type="number" id="z" name="z" required>
                </div>
                <button type="button" id="openMoreParamsButton">More parameters</button>
                <button type="submit">Submit</button>
            </form>
            <div id="output">
                <h2>Output</h2>
                <div class="output-group">
                    <label for="maxForce">Max Force:</label>
                    <input type="text" id="maxForce" readonly>
                </div>
                <div class="output-group">
                    <label for="nodalDeformationX">Nodal Deformation X:</label>
                    <input type="text" id="nodalDeformationX" readonly>
                </div>
                <div class="output-group">
                    <label for="nodalDeformationY">Nodal Deformation Y:</label>
                    <input type="text" id="nodalDeformationY" readonly>
                </div>
                <div class="output-group">
                    <label for="nodalDeformationZ">Nodal Deformation Z:</label>
                    <input type="text" id="nodalDeformationZ" readonly>
                </div>
                <!-- <div class="output-group">
                    <label for="nodalFailure">Nodal Failure:</label>
                    <input type="text" id="nodalFailure" readonly>
                </div>
                <div class="output-group">
                    <label for="displacement">Displacement:</label>
                    <input type="text" id="displacement" readonly>
                </div>
                <div class="output-group">
                    <label for="force">Force:</label>
                    <input type="text" id="force" readonly>
                </div> -->
            </div>
        </div>
        <div class="right-section">
            <img src="../static/1.jpg" alt="Image 1">
            <img src="../static/2.jpg" alt="Image 2">
            <div class="output-group">
                <label for="nodalFailure">Nodal Failure:</label>
                <input type="text" id="nodalFailure" readonly>
            </div>
            <div class="output-group">
                <label for="displacement">Displacement:</label>
                <input type="text" id="displacement" readonly>
            </div>
            <div class="output-group">
                <label for="force">Force:</label>
                <input type="text" id="force" readonly>
            </div>
        </div>
    </div>

    <div id="moreParamsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="moreParamsForm">
                <h2>Enter More Parameters</h2>
                <div class="input-group">
                    <label for="input4">Input 4:</label>
                    <input type="text" id="input4" name="input4">
                </div>
                <div class="input-group">
                    <label for="input5">Input 5:</label>
                    <input type="text" id="input5" name="input5">
                </div>
                <div class="input-group">
                    <label for="input6">Input 6:</label>
                    <input type="text" id="input6" name="input6">
                </div>
                <div class="input-group">
                    <label for="input7">Input 7:</label>
                    <input type="text" id="input7" name="input7">
                </div>
                <div class="input-group">
                    <label for="input8">Input 8:</label>
                    <input type="text" id="input8" name="input8">
                </div>
                <div class="input-group">
                    <label for="input9">Input 9:</label>
                    <input type="text" id="input9" name="input9">
                </div>
                <div class="input-group">
                    <label for="input10">Input 10:</label>
                    <input type="text" id="input10" name="input10">
                </div>
                <div class="input-group">
                    <label for="input11">Input 11:</label>
                    <input type="text" id="input11" name="input11">
                </div>
                <div class="input-group">
                    <label for="input12">Input 12:</label>
                    <input type="text" id="input12" name="input12">
                </div>
                <div class="input-group">
                    <label for="input13">Input 13:</label>
                    <input type="text" id="input13" name="input13">
                </div>
                <div class="input-group">
                    <label for="input14">Input 14:</label>
                    <input type="text" id="input14" name="input14">
                </div>
                <div class="input-group">
                    <label for="input15">Input 15:</label>
                    <input type="text" id="input15" name="input15">
                </div>
                <div class="input-group">
                    <label for="input16">Input 16:</label>
                    <input type="text" id="input16" name="input16">
                </div>
                <div class="input-group">
                    <label for="input17">Input 17:</label>
                    <input type="text" id="input17" name="input17">
                </div>
                <div class="input-group">
                    <label for="input18">Input 18:</label>
                    <input type="text" id="input18" name="input18">
                </div>
                <div class="input-group">
                    <label for="input19">Input 19:</label>
                    <input type="text" id="input19" name="input19">
                </div>
                <div class="input-group">
                    <label for="input20">Input 20:</label>
                    <input type="text" id="input20" name="input20">
                </div>
                <div class="input-group">
                    <label for="input21">Input 21:</label>
                    <input type="text" id="input21" name="input21">
                </div>
                <div class="input-group">
                    <label for="input22">Input 22:</label>
                    <input type="text" id="input22" name="input22">
                </div>
                <div class="input-group">
                    <label for="input23">Input 23:</label>
                    <input type="text" id="input23" name="input23">
                </div>
                <div class="input-group">
                    <label for="input24">Input 24:</label>
                    <input type="text" id="input24" name="input24">
                </div>
                <div class="input-group">
                    <label for="input25">Input 25:</label>
                    <input type="text" id="input25" name="input25">
                </div>
                <div class="input-group">
                    <label for="input26">Input 26:</label>
                    <input type="text" id="input26" name="input26">
                </div>
                <!-- Continue adding inputs up to input27 -->
                <div class="input-group">
                    <label for="input27">Input 27:</label>
                    <input type="text" id="input27" name="input27">
                </div>
                <button type="button" id="submitMoreParams">Submit More Parameters</button>
            </form>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>

